<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/admin.css">
</head>
<body class="@ViewData["BodyClass"]">
@RenderBody()
</body>
</html>
